@page
@model TheReynoldsGroupSite.Pages.Clients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Client</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.ClientFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.ClientLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client.AssignedTo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Client.AssignedTo)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Client.ClientId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
