@page
@model TheReynoldsGroupSite.Pages.Questions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.AskQuestion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.AskQuestion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.QuestionNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.QuestionNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.CategoryType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.CategoryType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.AssessmentName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.AssessmentName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.MostLikely)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.MostLikely)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Likley)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Likley)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Neutral)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Neutral)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Unlikely)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Unlikely)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.MostUnlikely)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.MostUnlikely)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
